#experiences{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: fit-content;
        flex-direction: column;
}
#art,#heritage,#spiritual,#food{
    padding: 20vh;
   padding-top: 12vh;
   padding-bottom: 12vh;
   

min-height: 100vh;
    /* height: fit-content; */

}
#heritage,#food {
    background-color: #fdff85;
    background-image: linear-gradient(90deg, #fdff85 0%, #b8ff7d 100%);
    
}
.gallery{
    display: flex;

    justify-content: center;
}
.explore-slide{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.explore-card .card-title{
    text-align: center;
}
.heading-h1{
font-size: 3rem;
    font-family: "Kaushan Script";
}
.heading-desc{
    font-size: 1.5rem;
    font-family: "Ubuntu";
}
.gallery-cards{
    /* background: transparent; */
    margin: 1vh;
    box-shadow: 2px 2px 5px grey;

}
.gallery-cards-img{
    width: 100%;
    /* max-height: 12rem; */
    height: auto;
    max-width: 100%;
}
.desc{
    font-family: "Ubuntu";
    font-size:1rem ;
}





#explore-contact{
    padding:10vh;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center ;
    flex-direction: column;
    background-color: white;
  
}

@media screen and (max-width:1200px)
{
    .heading{
        text-align: center;
    }
   
    #art,#heritage,#spiritual,#food{
        margin-top: 10vh;
        padding-top: 20vh;
       
        height: fit-content;
    
    }
  

   
    }

@media screen and (max-width:768px)
{
    

    .explore-slide{
        flex-direction: column;
    }
    #art,#heritage,#spiritual,#food{
        padding: 5vh;
        padding-top: 10vh;
        height: fit-content;
    }
  

}

@media screen and (max-width:480px)
{
    
    .heading-desc{
        display: none;
    }
}
