*{
    margin: 0;padding: 0;box-sizing: border-box;
    scroll-behavior: smooth;
}
.container-fluid{
    margin:0 ;padding: 0;
}
.landing{
    height: 100vh;
    
}
.navbar{
    font-family: "Kaushan Script",cursive;
    height: 10vh;
    background-color: #fdff85;
background-image: linear-gradient(90deg, #fdff85 0%, #b8ff7d 100%);

    /* background-image: url("../images/Untitled\ design.svg"); */


 background-color: whitesmoke;
   /* /* background-color: #FBDA61; */
    /* background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%); */
   */
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.navbar-brand{
    font-size:2.5vw;
    margin-left: 100px;
    font-weight: 400;
    /* color: white; */
    /* text-shadow: 2px 2px 4px black; */
}
.navbar-nav{
    margin-right: 100px;
}
.nav-link{
    font-size: 1.5vw;}



/* Title Section */

.title-section{
    margin-top:10vh;height: 90vh;display: grid;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("../images/Untitled\ design.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  
    /* backdrop-filter: drop-shadow(4px 4px 10px blue); */
    /* -webkit-backdrop-filter: blur(4px); */

    /* background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
     */


}
#title {
    text-align: center;
    border-bottom: 3px solid white;
    
}
#title h1{
    font-family: "Kaushan Script",cursive;
    font-size: 13vh;
    -webkit-text-fill-color: white;
    -webkit-background-clip: text;
    text-shadow: 2px 2px 4px black;
}
#title p{
    font-family: 'Poppins', sans-serif;
    font-size: 8vh;
    /* color: gray; */
    -webkit-text-fill-color:white;
    -webkit-background-clip: text;
    text-shadow: 2px 2px 4px gray;
}

/* Discover Section */

#Discover{
    margin-top: 10vh;   height: 90vh;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    


}
.discover-heading{
    padding: 20px 0 0 0;
    text-align: center;
}
#discover-heading{

padding: 10vh;
    font-family: "Ubuntu",sans-serif;
    font-size: 3vw;


}
.discover-heading p{
    color: gray;
    font-family: "Kaushan Script";
    font-size: 1.5vw;
}


.carousel{
    height: 70vh;
    width: 80vw;
}
.carousel-item{
    padding: 20px 150px;
}



.slide{
    display: flex;

}

.discover-cards{

    display: flex;
    width: 100%;
    
    /* flex-direction: row; */

}
.explore-card{
    margin: 10px 10px;
    width: 20rem;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform 0.8s ease-in-out;
}
.explore-card:hover{
    transform: scale(1.1);}
   
  
  .explore-card  .card-title{
        font-family: "Ubuntu";
        font-weight: 800;
        padding-bottom: 5px;
        /* text-shadow: 1px 1px 1px gray; */
        /* border-bottom: 3px solid  #b8ff7d */
    }
  .explore-card  .card-text{
        color: gray;
        font-family: "Ubuntu";
    }
  .explore-card  .card a { 
        color: #784BA0;
        font-weight: 400;
        text-shadow: 1px 1px 2px #784BA0;
        text-decoration: none;

    }


    .carousel-inner{
        width: 100%;
    }
    
.carousel-indicators{
    background-color: #fdff85;
background-image: linear-gradient(90deg, #fdff85 0%, #b8ff7d 100%);

    /* background-color: #FF3CAC;
    background-image: linear-gradient(90deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
     */
 
    
  
}


    .control-icon{
        /* border:2px solid black; */
        font-size: 5rem;
    color: black;
    font-size: 6rem;
    z-index: 1;
    text-shadow: 2px 2px 4px #FBDA61;
    }



/* Experiences */

#Experiences{
    padding: 15vh;
    padding-top: 20vh;
 
    min-height: 100vh;
    height:fit-content;
    background-color: #fdff85;
    background-image: linear-gradient(90deg, #fdff85 0%, #b8ff7d 100%);
    display: flex;
    justify-content: center;
}
.experiences-heading{
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.experiences-heading h1{
    -webkit-text-fill-color: black;
    -webkit-background-clip: text;
    text-shadow: 2px 2px 4px gray;
    font-family: "Kaushan Script",cursive;
    font-size: 4rem;
    /* border-bottom: 5px solid whitesmoke; */
}
.experiences-heading h3{
   -webkit-text-fill-color: whitesmoke;
  -webkit-background-clip: text;
  text-shadow: 2px 2px 4px black;
  font-family: "Kaushan Script",cursive;
  font-size: 2rem;
}


.experiences-section{
    width: 60vw;
}
.experiences-card{
    background-color:#b8ff7d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    
   
}
.experiences-card-h2 a{
    color: black;
    font-size: 2vw;
    font-family:"Kaushan Script",cursive ;
   text-decoration: none;
   
}



.experiences-card-body{
    display: flex;
    justify-content: space-around;
    background: whitesmoke;
}
.experiences-card-body div img{
    margin: 10px;
    padding: 5px;
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.experiences-card-p{
    margin: 10px;
    padding: 10px;
    padding-left: 30px;
    font-size: large;
    font-weight: bold;
    font-family: "Ubuntu";
    color: gray;
}



/* Media Queries */

@media screen and (max-width:1000px){
        #landing-img {
            width: 180%;
        }
        #Discover{
            height: auto;
        }
        .discover-cards{
            flex-direction: column;
        }
        .experiences-card-body{
            flex-direction: column;
            justify-content: center;
        }
      
    }

    @media screen and (max-width:768px){
        .navbar{
            height: auto;
        }
        .navbar-brand{
            font-size: 4vw;  
        margin: 0;      }
        .nav-link{
            font-size: 2.5vw;}
        
        #title h1{
            font-size: 10vh;
        }
        #title p{
            font-size: 5vh;
        }
        #Experiences{
            flex-direction: column;
            justify-content: space-around;
        }
        .experiences-card-body{
            flex-direction: column;
            justify-content: center;
        }
        
    }
